/* src/App.css or src/components/NavBar.css */
body.dark-mode {
    background-color: #020202;
    color: #ffffff;
}

/* Navbar specific dark mode styling */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-dark .form-control {
    background-color: #030303;
    color: white;
}

.navbar-dark .form-control::placeholder {
    color: #bbbbbb;
}

.navbar-dark .btn-outline-success {
    color: #ffffff;
    border-color: #28a745;
}

.navbar-nav {
    list-style-type: none; /* Removes bullets from list items */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.nav-item {
    list-style-type: none; /* Ensures no bullets on individual nav items */
}

.dark-mode .bg-light {
    background-color: #040404 !important; /* Change light background to dark */
}

.dark-mode .text-white {
    color: #ffffff; /* Maintain white text color */
}

/* Adjust blockquote for dark mode */
.dark-mode .blockquote {
    background-color: #444444; /* Darker background for blockquotes */
    border-left: 5px solid #ffffff; /* White border for contrast */
    color: #ffffff; /* Ensure text is white */
}